<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/about_us.css">
    <title>Smoking Monkeys</title>
</head>
<body>
    <header>
        <img class="logo" src="../assets/images/logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <a href="#" class="cta"><button>Cerrar Sesion</button></a>
    </header>

    <h1>Nosotros</h1>
    <p id="presentacion_grupo">Somos JALFJ, un equipo de 3 desarrolladores de la Universidad Catolica con un objetivo común, desarrollar la mejor página del curso</p>

    <section class="flex-container" id="cuerpo">
        <div class="tarjeta">
            <div class="card">
                
            </div>
            <div class="presentacion">
                <h2>Felipe Karachon</h2>
                <p>Carrera</p>
                <p>Algun otro dato</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="card">
                
            </div>
            <div class="presentacion">
                <h2>Lucas Guzmán</h2>
                <p>Carrera</p>
                <p>Algun otro dato</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="card">
                
            </div>
            <div class="presentacion">
                <h2>José Antonio Vial</h2>
                <p>Carrera</p>
                <p>Algun otro dato</p>
            </div>
        </div>

        
    </section>
    <div class="interfaz_volver">
        <a href="../../../index.html"><button id="volver">Volver</button></a>
    </div>

    
</body>
</html>