<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/about.css">
    <title>Smoking Monkeys</title>
</head>
<body>
    <header>
        <img class="logo" src="../assets/images/logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <a href="#" class="cta"><button>Cerrar Sesion</button></a>
    </header>

    <h1>Acerca de</h1>
    <p class="acerca_de">Con nuestra aplicación podrás hacer simulaciones dinámicas para la cadena de producción de tu empresa tabaquera, la cual te permitirá obtener predicciones basadas en modelos estadísticos para facilitar la toma de decisiones. Esto lo podrás hacer creando tus modelos, viendo los de los demás o utilizando modelos existentes creados por nosotros. </p>
    <p class="acerca_de"></p>
    <p class="acerca_de">La version actual es v 1.0</p>
    <div class="interfaz_volver">
        <a href="../../../index.html"><button id="volver">Volver</button></a>
    </div>

    
</body>
</html>