<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="../assets/styles/about.css">
    <title>Smoking Monkeys</title>
</head>
<body>
    <header>
        <img class="logo" src="../assets/images/logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li>
                    <a href="#">Contact</a>
                    <ul class="dropdown">
                        <li><a href="#">José Antonio Vial: +569 93452908</a></li>
                        <li><a href="#">Lucas Guzmán A: +569 84583920</a></li>
                        <li><a href="#">Felipe Karachon: +569 98647324</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <a href="#" class="cta"><button>Cerrar Sesion</button></a>
    </header>

    <h1>Acerca de Smoking Monkeys</h1>
    <p class="acerca_de">Con nuestra aplicación podrás hacer simulaciones dinámicas para la cadena de producción de tu empresa tabaquera, la cual te permitirá obtener predicciones basadas en modelos estadísticos para facilitar la toma de decisiones. Esto lo podrás hacer creando tus modelos, viendo los de los demás o utilizando modelos existentes creados por nosotros. </p>
    <p class="acerca_de"></p>
    <p class="acerca_de">La version actual es v 1.0</p>
    <hr></hr>
    <img  id="about_img" src="../assets/images/about.jpg">
    <div class="interfaz_volver">
        <a href="../../index.html"><button id="volver">Volver</button></a>
    </div>

    
</body>
</html>