<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smoking Monkeys</title>
    <link rel="stylesheet" href="../assets/styles/style.css">

</head>
<body>
    <header>
        <img class="logo" src="../assets/images/logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../views/about.html">About</a></li>
                <li><a href="../views/about_us.html">About Us</a></li>
                <li>
                    <a href="#">Contact</a>
                    <ul class="dropdown">
                        <li><a href="#">José Antonio Vial: +569 93452908</a></li>
                        <li><a href="#">Lucas Guzmán A: +569 84583920</a></li>
                        <li><a href="#">Fleipe Karachon: +569 98647324</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <a href="#" class="cta"><button>Cerrar Sesion</button></a>
    </header>

    <h1>Usuarios Existentes</h1>

    <footer class="interfaz_volver"><a href="../../index.html"><button id="volver">Volver</button></a></footer>

</body>
</html>